@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  align-items: center;
  height: auto;
  max-width: 370px;
  margin: 0;

  @media (--viewportMedium) {
    margin: 6px 0;
  }
}

.logo {
  /* If height is increased, change link margins accordingly */
  /* NOTE: extremely wide logos may look bad. This will scale them to container of 24 x 200. */
  width: auto;
  /* Mobile topbar has maximum of 100vw - 132px space for logo */
  max-width: min(calc(100vw - 132px), 100%, 370px);
  object-fit: contain;
  object-position: center;

  @media (--viewportLarge) {
    max-width: min(100%, 370px);
  }
}

/* Height classes - these set the specific height for the logo */
.logo24 {
  height: 24px !important;
}
.logo36 {
  height: 36px !important;
}
.logo48 {
  height: 48px !important;
}
.logo60 {
  height: 60px !important;
}
.logo72 {
  height: 72px !important;
}
