.root {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.sortByWrapper {
  display: inline-flex;
  margin-left: auto;
}

.sortBy {
  composes: marketplaceSmallFontStyles from global;
  font-weight: var(--fontWeightRegular);
  padding: 8px 8px 8px 0;
}
