@import '../../styles/customMediaQueries.css';

.root {
  /* Font */
  composes: h6 from global;
  color: var(--s2i-notif-badge-color, var(--colorWhite));
  text-align: center;

  background-color: var(--s2i-notif-badge-bg, var(--colorFail));

  /* Layout */
  display: inline-block;
  width: auto;
  min-width: var(--s2i-notif-badge-size, 20px);
  height: var(--s2i-notif-badge-size, 20px);
  border-radius: var(--s2i-notif-badge-radius, 10px);
  padding: 1px 5px 3px 6px;
  margin-left: 4px;

  /* Font margins off */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px 5px 3px 5px;
  }

  @media (--viewportLarge) {
    font-size: var(--s2i-notif-badge-font-size, 14px);
    min-width: var(--s2i-notif-badge-size-lg, 24px);
    height: var(--s2i-notif-badge-size-lg, 24px);
    border-radius: var(--s2i-notif-badge-radius, 12px);
    top: -2px;
    padding: 4px 5px 4px 5px;

    position: relative;
  }
}
